.container {
    width: 101.5%;
    background-image: url('../img/new.jpg');
    box-shadow: 10px 10px 60px 20px #181818;
    color: #690404;
    text-shadow: 1.2px 1.2px #202020;
    margin-left: -8px;
    height: 80px;
}

.footerRight {
    margin-right: 10px; 
    float: right;
    padding: 8px;
}

.footerLeft {
    padding: 15px;
}