body {
    margin: 0px !important;
    padding: 0px !important;
}

.myFooter {
    margin: 0 auto !important;
    width: 100% !important;
    background-image: url('../img/new.jpg') !important;
    box-shadow: 10px 10px 60px 20px #000000 !important;
    color: #690404 !important;
    text-shadow: 1.2px 1.2px #202020 !important;
    height: 80px !important;
    margin-top: 70px !important;
    font-family: 'Times New Roman', Times, serif !important;
}

.myFooterRight {
    margin-right: 10px !important; 
    float: right !important;
    padding: 8px !important;
}

.myFooterLeft {
    padding: 30px !important;
}

.myClear {
    clear: both;
}


@media screen 
and (min-width: 300px) 
and (max-width: 400px)
and (orientation: portrait) {
    .myFooter {
    height: 50px;
    margin-top: 85px;
}

    .myFooterRight {
        margin-right: 0px;
    }

    .myFooterRight img {
        width: 35px;
    }

    .myFooterLeft {
        font-size: 50%;
        padding: 12px;
    }
}

@media screen 
and (min-width: 300px) 
and (max-width: 500px)
and (orientation: landscape) {
    .myFooter {
        height: 60px;
        margin-top: 60px;
    }

    .myFooterRight {
        padding: 6px;
        margin-right: 0px;
    }

    .myFooterRight img {
        width: 50px;
    }

    .myFooterLeft {
        font-size: 70%;
        padding: 13px;
    }
}

@media screen 
and (min-width: 401px) 
and (max-width: 620px)
and (orientation: portrait) {
    .myFooter {
        height: 60px;
        margin-top: 250px;
    }

    .myFooterRight {
        padding: 9px;
        margin-right: 0px;
    }

    .myFooterRight img {
        width: 40px;
    }

    .myFooterLeft {
        font-size: 70%;
        padding: 12px;
    }
}

@media screen 
and (min-width: 621px) 
and (max-width: 800px)
and (orientation: portrait) {
    .myFooter {
        margin-top: 400px;
    }
}

