.logo {
    top: 1px;
    display: inline-block;
    line-height: 1;
    margin: 7px 0px 7px;
    width: 55px;
}

.navbar-brand {
    font-size: 30px;
    font-family: 
    margin-top: 25px;
    color: #A1040C !important; 
}

.navbar-text a {
    color: #A1040C !important;
    font-size: 17px;
    margin-top: -5px;
}

.navbar {
    max-height: 70px;
    background-color: #EBE2D7;
}


/* Carousle image styling*/

.carousel-image {
    height: 80px;
    width: 700px;
    margin: auto;
}

.content {
    margin-top: -20px;
}