.logo {
    top: 1px;
    display: inline-block;
    line-height: 1;
    margin: 7px 0px 7px;
    width: 55px;
}

.navbar-text {
    font-size: 25px;
    margin-top: 20px;
}

.navbar {
    max-height: 70px;
    background-color: black;
}


/* Carousle image styling*/

.carousel-image {
    height: 80px;
    width: 700px;
    margin: auto;
}