body {
    /*background-image: url("../img/pattern2.jpg");*/
    background-color: #202020;
    margin: 0px !important;
    padding: 0px !important;
}

.main-text {
    position: absolute;
    top: 10px;
    width: 96.66666666666666%;
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-clear {
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}

.btn-clear:hover {
    color: #000;
    background-color: #FFF;
}

.item p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}

.container {
    box-shadow: 10px 10px 40px black;
}

select,
input[type="email"],
input[type="text"],
input[type="password"],
input[type="button"],
input[type="date"],
button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 40%;
}

.login button,
.signup button {
    border: none;
    color: #3f3f3f;
    background-color: transparent;
    margin-bottom: 30px;
    font-weight: bold;
}

.login h2,
.signup h2 {
    text-align: center;
    margin: 30px 0px 30px;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="date"],
select {
    padding: 5px;
    background-color: transparent;
    color: grey;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 3px;
}

input[type="button"] {
    border-radius: 7px;
    border: none;
    padding: 8px;
    width: 20%;
    background-image: url('../img/woodTexture.png');
    box-shadow: 10px 10px 40px black;
    color: #897A74;
}

input[type="button"]:hover {
    transform: scale(0.95, 0.95);
}

select {
    background-color: #202020;
}