body {
    background-image: url('../img/carousel/2.jpg');
    background-size: 75%;
    font-family: 'Times New Roman', Times, serif;
    color: #221511;
}

.jumbotron {
    border-radius: 15px !important;
    margin-top: 15%;
    box-shadow: 20px 20px 70px 10px black;
    background-color: #E5DFD2;
}

/*Button Styling*/
.my-btn,
.my-btn:active:focus, 
.my-btn:focus, 
.my-btn:active, 
.my-btn:active:hover{
    margin-left: 80%;
    margin-top: 50px;
    width: 200px;
    font-size: 150%;
    background-image: url("../img/woodTexture.png") !important;
    box-shadow: 10px 10px 40px black;
    color: #E5DFD2 !important;
    outline: none !important;
}

.my-btn:hover {
    transform: scale(0.95,0.95);
    outline: none;
}

@media screen 
and (max-width: 993px)
and (min-width: 690px) {
    .my-btn,
    .my-btn:active:focus, 
    .my-btn:focus, 
    .my-btn:active, 
    .my-btn:active:hover{
        margin-left: 70%;
    }
}

@media screen 
and (max-width: 689.999px)
and (min-width: 540px) {
    .my-btn,
    .my-btn:active:focus, 
    .my-btn:focus, 
    .my-btn:active, 
    .my-btn:active:hover{
        margin-left: 60%;
    }
}

@media screen 
and (max-width: 539.999px)
and (min-width: 440px) {
    .my-btn,
    .my-btn:active:focus, 
    .my-btn:focus, 
    .my-btn:active, 
    .my-btn:active:hover{
        margin-left: 50%;
    }
}

@media screen 
and (max-width: 439.999px)
and (min-width: 380px) {
    .my-btn,
    .my-btn:active:focus, 
    .my-btn:focus, 
    .my-btn:active, 
    .my-btn:active:hover{
        margin-left: 40%;
    }
}

@media screen 
and (max-width: 379.999px)
and (min-width: 280px) {
    .my-btn,
    .my-btn:active:focus, 
    .my-btn:focus, 
    .my-btn:active, 
    .my-btn:active:hover{
        margin-left: 20%;
    }
}