
/*Over all font styling */
body {
    font-family: 'Times New Roman', Times, serif !important;
    color: #333333;
}

/*Question Image Background Fit*/
.question-section {
   background-image: url("../img/got.jpg");
   background-size: 100%;
}

/*Answear Background*/
.answear-section {
    background-color: #221511;
}

/*Responsive Media Queries For the Background*/
@media screen 
  and (max-width: 1420px)
  and (min-width: 1000px) {
    .question-section {
        width: 60%;
        background-size: cover;
    }

    .answear-section{
        width: 40%;
    }
}

@media screen 
  and (max-width: 999.999px)
  and (min-width: 710px) {
    .question-section {
        width: 60%;
        background-size: cover;
    }

    .answear-section{
        width: 40%;
    }
}

@media screen 
  and (max-width: 709.999px)
  and (min-width: 450px) {
    .question-section {
        width: 60%;
        background-size: cover;
    }

    .answear-section{
        width: 40%;
    }
}

@media screen 
  and (max-width: 449.999px)
  and (min-width: 280px) {
    .question-section {
        width: 60%;
        background-size: cover;
    }

    .answear-section{
        width: 40%;
    }
}

/*Radio Icons Styling*/
.fa-circle {
    margin-right: 10px;
    font-size: 85%;
    color: #FBEBC7;
}

/*Fitting Height to 100%*/
html, body, .question-section, .answear-section {
    min-height: 100%;
    height:100%;
}

/*Styling & Positioning the Question*/
.question-div {
    padding: 33% 25%;
    color: #E5DFD2;
    font-size: 210%;
}

.question-p {
    width: 82%;
    margin: 0% 10%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;

}

/*Stiling & Positioning the Answears*/
.answear-form {
    padding: 45% 5% 50%;
    font-size: 170%;
    color: #E5DFD2;
}

/*Media Queries for Question&Answears Positioning*/
@media screen 
  and (max-width: 1420px)
  and (min-width: 1000px) {
    .question-div {
    padding: 50% 15% 45%;
    font-size: 180%;
    }

    .answear-form {
        padding: 65% 10% 40%;
        font-size: 140%;
    }
}

@media screen 
  and (max-width: 999.999px)
  and (min-width: 710px) {
   .question-div {
    padding: 70% 15%;
    font-size: 170%;
    }

    .answear-form {
        padding: 100% 10% 20%;
        font-size: 130%;
    } 
}

@media screen 
  and (max-width: 709.999px)
  and (min-width: 450px) {
    .question-div {
        padding: 90% 5%;
        font-size: 130%;
    }

    .answear-form {
        padding: 125% 7% 20%;
        font-size: 110%;
    } 
}

@media screen 
  and (max-width: 449.999px)
  and (min-width: 280px) {
    .question-div {
        padding: 120% 1%;
        font-size: 110%;
    }

    .answear-form {
        padding: 165% 1%;
        font-size: 100%;
    } 
}

/*Button Styling*/
.my-btn,
.my-btn:active:focus, 
.my-btn:focus, 
.my-btn:active, 
.my-btn:active:hover{
    width: 200px;
    font-size: 150%;
    background-image: url("../img/woodTexture.png") !important;
    box-shadow: 10px 10px 40px black;
    color: #E5DFD2;
    outline: none;
}

.my-btn:hover {
    transform: scale(0.95,0.95);
}

/*Media Queries for Adapting the Button*/
@media screen 
  and (max-width: 800px)
  and (min-width: 280px) {
    .my-btn {
       width: 70%;
       height: 35px;
       font-size: 92%;
    }
}

/*Making the Radio Buttons Invisible*/
input[type="radio"] {
    opacity: 0;
    width: 0;
    margin: 0;
}
/*
label {
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 25px;
    background: url("../img/wood.png") no-repeat;
    background-position: 0 0; 
}*/

.message {
    color: red;
    background-color: black;
}