body{
    background-image: url("../img/pattern.jpg");
    font-family: 'Times New Roman', Times, serif;
    color: #864B38;
}

.jumbotron {
    border-radius: 15px !important;
    margin-top: 15%;
    box-shadow: 20px 20px 70px 10px black;
    background-color: #DAB989;
}

