.answear-section {
  height: 100vh;
  position: relative;
  color: white;
  font-size: 1.5em;
  #submit {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.question-section{
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  color: white;
  font-size: 2em;
  .question-p {
    width: fit-content;
    margin: 0 auto;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
  }
}

@media screen and (max-width: 767.9999px) {
  .answear-section {
    height: 50vh;
    .answear-form {
      margin-top: 2vh !important
    }
  }

  .question-section{
    height: 50vh;
  }

}

/*Making the Radio Buttons Invisible*/
input[type="radio"] {
    opacity: 0;
    width: 0;
    margin: 0;
}

/*Radio Icons Styling*/
.fa-circle {
    margin-right: 10px;
}

@media screen and (max-width: 340px) 
and (max-height: 500.9999px) {
  .answear-section {
    font-size: 1em;
    #submit {
      font-size: 0.8em;
    }
  }

  .question-section{
    font-size: 1.4em;
  }

}


@media screen and (max-width: 340px) 
and (min-height: 501px) {
  .answear-section {
    font-size: 1.2em;
    #submit {
      font-size: 0.8em;
    }
  }

  .question-section{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 450px) 
and (min-height: 501px) {
  .answear-section {
    font-size: 1.3em;
    #submit {
      font-size: 0.8em;
    }
  }

  .question-section{
    font-size: 1.5em;
  }

}

@media screen and (max-width: 700px) 
and (orientation: landscape) {
  .answear-section {
    .answear-form {
      margin-top: 6vh !important;
    }
    font-size: 1.2em;
    #submit {
      font-size: 0.7em;
    }
  }

  .question-section {
    font-size: 1.5em;
    .question-p {
      margin-top: 11vh;
    }
  }

}


