@font-face {
  font-family: gameOfThronesFont;
  src: url(../img/got.ttf);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

body {
  font-family: $body-font;
  font-size: 16px;
  min-width: 300px;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: $footer-height;
}

.clear {
  clear: both;
}

.greyBackground {
  background-color: $base-color;
}

.hrShadow {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

//Copyright
.copyrights {
  margin: 5px;
  padding: 3px;
  font-size: 13px;
  border-radius: 5px;
  opacity: 0.8;
  width: fit-content;
  background-color: black;
  color: white;
  a {
    font-size: 14px;
    color: lightskyblue;
  }
}

//Copyright images overlay
.overlayContainer {
  position: relative;
  margin-bottom: 1.85em;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlayContainer:hover .image {
  opacity: 0.3;
}

.overlayContainer:hover .overlay {
  opacity: 1;
}

.overlayContent {
  padding: 3px;
  font-size: 13px;
  border-radius: 5px;
  opacity: 0.8;
  width: fit-content;
  background-color: black;
  color: white;
  a {
    font-size: 14px;
    color: lightskyblue;
  }
}

//Term and conditions style
.terms {
  width: 70%;
  margin: 0 auto;
  h1, h2, h3, h4, h5, h6 {
    font-family: $body-font !important;
    margin: 15px 0px;
  }
  p, h4 {
    text-align: justify;
  }
  h4 {
    text-decoration: underline;
  }

  ul {
    li {
      margin-left: 50px;
      text-align: justify;
    }
  }
}


//Settings Page
.settings {
  background-color: white;
   h1 {
    margin: 20px 0px 30px;
  }
  margin: 0 auto;
  width: 40%;  
  input, label {
    display: block !important;
  }

  label {
    margin-top: 30px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select {
    width: 100% !important;
    height: 45px !important;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    margin-bottom: 10px;
  }

  input[type="text"]:active,
  input[type="email"]:active,
  input[type="password"]:active,
  input[type="date"]:active,
  select:active,
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  select:focus {
    outline: none;
    box-shadow: none;
  }
  input[type="button"] {
    margin: 20px auto;
  }

}

@media screen and (max-width: 1220px)
and (min-width: 910px) {
  .settings {
    width: 50%;  
  }
}

@media screen and (max-width: 999.9999px)
and (min-width: 730px) {
  .settings {
    width: 60%;  
  }
}


@media screen and (max-width: 729.9999px)
and (min-width: 610px) {
  .settings {
    width: 70%;  
  }
}


@media screen and (max-width: 609.9999px)
and (min-width: 520px) {
  .settings {
    width: 80%;  
  }
}

@media screen and (max-width: 519.9999px)
and (min-width: 460px) {
  .settings {
    width: 90%;  
  }
}

@media screen and (max-width: 459.9999px)
and (min-width: 160px) {
  .settings {
    width: 95%;  
  }
}
