$base-color: #202020;
$secondary-color: #E4C575;
$heading-font: gameOfThronesFont;
$body-font: 'Times New Roman', Times, serif;
$footer-height: 120px;
$footer-height-mobile: 300px;
$placeholder-color: #595959;