$base-color: #202020;
$secondary-color: #E4C575;
$heading-font: gameOfThronesFont;
$body-font: 'Titillium Web', sans-serif;
$footer-height: 140px;
$footer-height-mobile: 300px;
$placeholder-color: #595959;